 filter=lfs diff=lfs merge=lfs -text
 filter=lfs diff=lfs merge=lfs -text
 filter=lfs diff=lfs merge=lfs -text
 filter=lfs diff=lfs merge=lfs -text
 filter=lfs diff=lfs merge=lfs -text
 filter=lfs diff=lfs merge=lfs -text
 filter=lfs diff=lfs merge=lfs -text
 filter=lfs diff=lfs merge=lfs -text
 filter=lfs diff=lfs merge=lfs -text
 filter=lfs diff=lfs merge=lfs -text
 filter=lfs diff=lfs merge=lfs -text
 filter=lfs diff=lfs merge=lfs -text
 filter=lfs diff=lfs merge=lfs -text
 filter=lfs diff=lfs merge=lfs -text
 filter=lfs diff=lfs merge=lfs -text
 filter=lfs diff=lfs merge=lfs -text
 filter=lfs diff=lfs merge=lfs -text
 filter=lfs diff=lfs merge=lfs -text
 filter=lfs diff=lfs merge=lfs -text
 filter=lfs diff=lfs merge=lfs -text
test_images//Champaign_IL/Champaign-Waterfall/20180909_Invite001.png filter=lfs diff=lfs merge=lfs -text
test_images//Champaign_IL/Boneyard-Creek-Second-Street-Basin/20180902_Invite001.png filter=lfs diff=lfs merge=lfs -text
test_images//Champaign_IL/Fred-B-Lamb-Trail/20180902_Invite001.png filter=lfs diff=lfs merge=lfs -text
test_images//Champaign_IL/Beckman-Institute-Upwells-Fountain/20180902_Invite001.png filter=lfs diff=lfs merge=lfs -text
test_images//Champaign_IL/Beckman-Institute-Upwells-Fountain/20180902_Invite002.png filter=lfs diff=lfs merge=lfs -text
test_images//Champaign_IL/.pytest_cache/.gitignore filter=lfs diff=lfs merge=lfs -text
test_images//Champaign_IL/Police-and-Firefighters-Memorial/20180909_Invite001.jpg filter=lfs diff=lfs merge=lfs -text
test_images//Champaign_IL/Blair-Park/20180902_Invite001.png filter=lfs diff=lfs merge=lfs -text
test_images//Champaign_IL/.pytest_cache/README.md filter=lfs diff=lfs merge=lfs -text
test_images//Champaign_IL/.pytest_cache/v/cache/nodeids filter=lfs diff=lfs merge=lfs -text
